.chord-list{
	list-style:none;

}

.chord-list li{
	cursor:pointer;
	float:left;
	margin-right:20px;
}

#footer{
	padding:0;
	height:150px;
}

.note{
	cursor:pointer;
}

.debug-red{
	background-color:red;
}


#wrapper{
	margin-left:45%;
}

ul#static-notes li{
	float:left;
	list-style: none;
}

.clear-left{
	clear:left;
}

.chord{
	background: url('grid-small.png');
	width: 72px;
	height: 56px;
}