
.chord-list{
	list-style:none;

}

.chord-list li{
	cursor:pointer;
	float:left;
	margin-right:20px;
}

#footer{
	padding:0;
	height:150px;
}

.note{
	cursor:pointer;
}

.debug-red{
	background-color:red;
}


#wrapper{
	margin-left:10%;
	width:100%;
}

ul#static-notes li{
	float:left;
	list-style: none;
}

.clear-left{
	clear:left;
}

.chord{
	background: url('grid-small.png');
	width: 72px;
	height: 56px;
}

.gstring-ul{
	padding:5px;
	margin: 0 0 0 0;
	padding-left:0;
}

.static-note-instance a{
	display:block;
	text-align:center;
	height:5px;
}
.static-note-instance{
	list-style:none;
	float:left;
	width:10px;
	border: 1px dotted #999;
	cursor: pointer;
	width:20px;
	border:none;
}

.hide-note-text{
	display:none;
}

#fretboard{
	overflow:hidden;
	background: url('grid_bg.png');
}


