%section#chordapp
	%header#header	
	%div#debug.btn-group
		%button#reset-notes.btn Reset Notes
		%button#ls-reset.btn Reset LocalStoare	
	%section#main
		%h5#chordnamelabel Chord Name
		%input#chord-name{"type" => "text", "placeholder" => "Type Chord Name"}
		%div#fretboard
			%ul#static-notes-e-high-string.gstring-ul
			%ul#static-notes-b-string.gstring-ul
			%ul#static-notes-g-string.gstring-ul
			%ul#static-notes-d-string.gstring-ul
			%ul#static-notes-a-string.gstring-ul
			%ul#static-notes-e-string.gstring-ul
		%div#chord-data
		%button#submit-new-chord.btn.btn-inverse{"type" => "button"}submit
	%footer#footer
		%ul#chord-list.chord-list
	%script#chord-template{"type" => "text/template"}
		%div.chord{"data-toggle" => "popover", "data-placement"=> "bottom", "data-content"=> "dominik is"}	
			%span <%= name %> <%= data %>
			
	%script#note-template{"type" => "text/template"}
		%a
			%span.hide-note-text <%= noteValue %>



