%section#chordapp
	%header#header	
	%div#debug.btn-group
	-#
		%button#reset-notes.btn Reset Notes
		%button#ls-reset.btn Reset LocalStoare	
	%section#main
		%h5#chordnamelabel Chord Name
		%input#chord-name{"type" => "text", "placeholder" => "Type Chord Name"}
		%div#fretboard
			%ul#e-high-string.gstring-ul
			%ul#b-string.gstring-ul
			%ul#g-string.gstring-ul
			%ul#d-string.gstring-ul
			%ul#a-string.gstring-ul
			%ul#e-string.gstring-ul
		%div#chord-data
		%button#submit-new-chord.btn.btn-inverse{"type" => "button"}submit
	%script#chord-template{"type" => "text/template"}
		%h6.chord-name <%= name %>
		.chord <% _.each(JSON.parse(data), function(note){ %> <div class="<%= note.gString %> f-<%= note.fret %>"></div><% }); %>	
		%div.chord-delete
		-#
			<a href="/chord/<%= _id %>">dom</a>
	%script#note-template{"type" => "text/template"}
		%a 
		-#
			<%= noteValue %>




