

#main{
	border:none;
	width:800px;
}
.chord-list{
	list-style:none;
	margin-left:0;
	margin-top:30px;
}

#debug{
	float:right;
}

.chord-list li{
	cursor:pointer;
	float:left;
	margin-right:20px;
}

#footer{
	padding:0;
	height:150px;
}

.note{
	cursor:pointer;
}

#wrapper{
	margin-left:10%;
	width:100%;
}

ul#static-notes li{
	float:left;
	list-style: none;
}

.clear-left{
	clear:left;
}

.chord{
	background: url('grid-small.png');
	width: 72px;
	height: 56px;
}

.gstring-ul{
	padding:0;
	margin: 0 0 0 1px;
	height:16px;
}

.hide-note-text{
	display:none;
}

#fretboard{
	background: url('grid_bg.png') no-repeat;
	width:510px;
	overflow:hidden;
	height:95px;
}

.static-note-instance{
	height:16px;
	float:left;
	width:23px;
	list-style:none;

}

.static-note-instance > a {
	display: block;
	position: relative;
	height: 16px;
	text-align: center;
	line-height: 13px;
}
.static-note-instance > a.act{
	background-color: red;
	border-radius: 8px;
	height: 13px;
	margin: 0 5px;
}


