

#main{
	border:none;
	width:800px;
}

#chordapp{
	margin-bottom:20px;
}
.chord-list{
	list-style:none;
	margin-left:0;
	margin-top:30px;
}

#debug{
	float:right;
}

.chord-list li{
	cursor:pointer;
	float:left;
	margin-right:20px;
}

#footer{
	padding:0;
	height:150px;
}

.note{
	cursor:pointer;
}

#wrapper{
	margin-left:10%;
	width:100%;
}

ul#static-notes li{
	float:left;
	list-style: none;
}

.clear-left{
	clear:left;
}

.chord{
	background: url('grid-small.png');
	width: 72px;
	height: 56px;
	position:relative;
}

.gstring-ul{
	padding:0;
	margin: 0 0 0 1px;
	height:16px;
}

.hide-note-text{
	display:none;
}

#fretboard{
	background: url('grid_bg.png') no-repeat;
	width:510px;
	overflow:hidden;
	height:95px;
}

.static-note-instance{
	height:16px;
	float:left;
	width:23px;
	list-style:none;
	cursor: pointer;
}

.static-note-instance > a {
	display: block;
	position: relative;
	height: 13px;
	text-align: center;
	line-height: 13px;
	border: 1px solid transparent;
	border-radius: 8px;
	width:13px;
	margin:0 5px;
}

.static-note-instance > a.preview{
	//background-color: rgb(114, 114, 114);
	width: 6px;
	height: 6px;
	margin: 3px 0 0 10px;
}

.static-note-instance > a.act{
	background-color: #eeeeee;
	border-radius: 8px;
	height: 13px;
	margin: 0 5px;
}

.chord-name{
	margin: 2px 0 0 7px;
	display: inline-block;
	float: left;
}

#chord-list{
	overflow:hidden;
	padding:10px;
	background-color:#ccc;
	margin-top:10px;
	border-top: 2px solid #999;
	border-bottom: 1px solid #999;
}

.chord-delete{
	background: url('delete.png') no-repeat;
	height:20px;
	margin-left:60px;
}
.chord-delete:hover{
	background: url('delete_h.png') no-repeat;
}


.f-1, .f-2, .f-3, .f-4, .f-5{
	width: 7px;
	height: 7px;
	background-color: #646464;
	border-radius:8px;
	position: absolute;
}
.f-1{
	margin-left:5px;
}
.f-2{
	margin-left:19px;
}

.f-3{
	margin-left:32px;
}

.f-4{
	margin-left:47px;
}

.f-5{
	margin-left:61px;
}

.a-string{
	top:41px;
}

.e-string{
	top:52px;
}

.d-string{
	top:30px;
}

.g-string{
	top:19px;
}

.b-string{
	top:8px;
}

.e-high-string{
	top:-3px;
}

